body {
  background: #1A1A1A
}

#container{
  border: 1px solid white;
  height: 620px;
  width: 815px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  background: black;
  }

#title{
  float: left;
  font: bold italic 25pt serif;
  color: white;
  height: 30px;
  width: 230px;
  margin: 10px;
  border: 2px solid black;
}

#restart{
  text-align: center;
  cursor: default;
  height: 30px;
  width: 135px;
  float: right;
  background: #000;
  border: 2px dashed #868686;
  margin: 10px;
  color: white;
  font: bold italic 20pt serif;
  vertical-align: middle;
}

#restart:hover{
  background: #969696;
  color: black;
}

#clear{
  clear: both;
}

#score{
  text-align: center;
  font: bold italic 20pt serif;
  color: white;
  margin: 5px;
  border: 2px solid black;
  float: left;
  height: 30px;
  width: 300px;
}

#level{
  text-align:center; font: bold italic 20pt serif; color: white; margin: 5px; border:2px solid black; float:right; height:30px; width:150px;
}

#canvas{
  border:2px solid black; clear:both; background: #D9D9D9; margin: 5px;
}
